.image{
    width: 100%;
    background-size: cover;
    background-repeat: 'no-repeat';
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:6px;
  }
.chatImg{
    margin-bottom: 30px;
}

.rightSide{
  display:flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width:500px) {
  .authHeader{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }
}
.authHeader{
  width:90%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10%;
  align-items: center;
  margin-top: 10%;
}

.greyText{
  
  color:#B0B0B0;
}
.topButton{
  color:#3A8DFF;
}
.formStyle{
  display: flex;
  justify-content: space-evenly;
  width:100%;
}
.passwordForgot{
  color:blue;
}
.passwordForgot:hover{
  color:darkblue;
}
